@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-size: 10px;
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  color: rgb(0, 0, 0);

  box-sizing: border-box;
}

body * {
  box-sizing: border-box;
}

.embla {
  overflow: hidden;
}

.embla__container {
  display: flex;
  transition: none;
  animation: none;
}

.embla__slide {
  flex: 0 0 100%;
}
