@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
  @apply bg-gray-400 text-black;
}

body {
  font-size: 10px;
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  color: rgba(0, 0, 0, 0.65);
}
